* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(128, 128, 128, 0.7);
  width: 100%;
}

.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgba(59, 130, 246, 0.5); */
  background-color: rgba(128, 128, 128, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(-1px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid #abadb4;
}

h1 {
  margin-top: 10px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}

[type="text"] {
  width: 100%;
  height: 35px;
  outline: none;
}

.input-text :active {
  border-color: slategrey;
}

.w-full {
  padding: 10px;
  width: 310px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.input-text button {
  display: block;
  margin: auto;
  padding: 10px 25px;
  font-size: 15px;
  margin-bottom: 35px;
}

#todo {
  display: flex;
  justify-content: space-between;
}

#todo ol li {
  color: black;
  position: relative;
  left: -100%;
  height: 25px;
  margin-bottom: 10px;
}

#todo .remove {
  width: 100%;
  padding: 5px;
  position: relative;
  right: -220%;
  top: -23px;
  /* margin-bottom: 10px; */
}
